# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../weather_database/cities.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mataura,NZ,-46.1927,168.8643,56.48,71,100,3.27,overcast clouds
1,1,Vardo,NO,70.3705,31.1107,46.38,93,100,14.97,overcast clouds
2,2,Kavieng,PG,-2.5744,150.7967,83.82,72,76,10.80,light rain
3,3,Fereydun Kenar,IR,36.6864,52.5225,71.47,76,65,1.66,broken clouds
4,4,Bayanday,RU,53.0661,105.5139,26.73,76,10,1.57,clear sky

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip?"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?65
What is the maximum temperature you would like for your trip?85

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                      (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Kavieng,PG,-2.5744,150.7967,83.82,72,76,10.80,light rain
3,3,Fereydun Kenar,IR,36.6864,52.5225,71.47,76,65,1.66,broken clouds
5,5,Ponta Do Sol,PT,32.6667,-17.1000,71.71,74,48,3.91,scattered clouds
7,7,Saint-Philippe,RE,-21.3585,55.7679,65.79,78,53,9.19,broken clouds
10,10,Mogadishu,SO,2.0371,45.3438,76.91,83,51,9.78,broken clouds
14,14,Thinadhoo,MV,0.5333,72.9333,81.55,71,91,16.53,overcast clouds
17,17,Puerto El Triunfo,SV,13.2833,-88.5500,79.66,84,100,1.99,overcast clouds
21,21,San Ramon De La Nueva Oran,AR,-23.1322,-64.3260,71.42,51,100,2.01,overcast clouds
24,24,Bentiu,SS,9.2333,29.8333,72.90,81,97,2.30,overcast clouds
25,25,Sangmelima,CM,2.9333,11.9833,67.42,100,100,0.98,heavy intensity rain

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
preferred_cities_df.count()
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Kavieng,PG,-2.5744,150.7967,83.82,72,76,10.80,light rain
3,3,Fereydun Kenar,IR,36.6864,52.5225,71.47,76,65,1.66,broken clouds
5,5,Ponta Do Sol,PT,32.6667,-17.1000,71.71,74,48,3.91,scattered clouds
7,7,Saint-Philippe,RE,-21.3585,55.7679,65.79,78,53,9.19,broken clouds
10,10,Mogadishu,SO,2.0371,45.3438,76.91,83,51,9.78,broken clouds
14,14,Thinadhoo,MV,0.5333,72.9333,81.55,71,91,16.53,overcast clouds
17,17,Puerto El Triunfo,SV,13.2833,-88.5500,79.66,84,100,1.99,overcast clouds
21,21,San Ramon De La Nueva Oran,AR,-23.1322,-64.3260,71.42,51,100,2.01,overcast clouds
24,24,Bentiu,SS,9.2333,29.8333,72.90,81,97,2.30,overcast clouds
25,25,Sangmelima,CM,2.9333,11.9833,67.42,100,100,0.98,heavy intensity rain

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [22]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City","Country","Max Temp","Current Description","Lat","Lng"]].copy()
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng
2,Kavieng,PG,83.82,light rain,-2.5744,150.7967
3,Fereydun Kenar,IR,71.47,broken clouds,36.6864,52.5225
5,Ponta Do Sol,PT,71.71,scattered clouds,32.6667,-17.1000
7,Saint-Philippe,RE,65.79,broken clouds,-21.3585,55.7679
10,Mogadishu,SO,76.91,broken clouds,2.0371,45.3438
14,Thinadhoo,MV,81.55,overcast clouds,0.5333,72.9333
17,Puerto El Triunfo,SV,79.66,overcast clouds,13.2833,-88.5500
21,San Ramon De La Nueva Oran,AR,71.42,overcast clouds,-23.1322,-64.3260
24,Bentiu,SS,72.90,overcast clouds,9.2333,29.8333
25,Sangmelima,CM,67.42,heavy intensity rain,2.9333,11.9833

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [34]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ''

# Display sample data
#hotel_df.head(10)
hotel_df.count()

City                   330
Country                330
Max Temp               330
Current Description    330
Lat                    330
Lng                    330
Hotel Name             330
dtype: int64

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [35]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [37]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print("lol yea!")
    except (IndexError):
        print("Hotel not found... skipping.")
        hotel_df.dropna()

lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
Hotel not found... skipping.
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
Hotel not found... skipping.
lol yea!
lol yea!
Hotel not found... skipping.
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
Hotel not found... skipping.
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
Hotel not found... skipping.
lol yea!
lol yea!
lol yea!
lol yea!
Hotel not found... skipping.
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
Hotel not found... skipping.
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
Hotel not found... skipping.
lol yea!
lol yea!
lol yea!
lol yea!
Hotel not found... skipping.
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
Hotel not found... skipping.
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
Hotel not found... skipping.
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
Hotel not found... skipping.
Hotel not found... skipping.
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
Hotel not found... skipping.
lol yea!
Hotel not found... skipping.
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
Hotel not found... skipping.
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
Hotel not found... skipping.
Hotel not found... skipping.
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
Hotel not found... skipping.
lol yea!
lol yea!
Hotel not found... skipping.
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
Hotel not found... skipping.
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
Hotel not found... skipping.
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!
lol yea!

In [38]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Kavieng,PG,83.82,light rain,-2.5744,150.7967,Nusa Island Retreat
3,Fereydun Kenar,IR,71.47,broken clouds,36.6864,52.5225,Khezer Shahr Tourist Hotel
5,Ponta Do Sol,PT,71.71,scattered clouds,32.6667,-17.1000,Hotel do Campo
7,Saint-Philippe,RE,65.79,broken clouds,-21.3585,55.7679,Le four à pain
10,Mogadishu,SO,76.91,broken clouds,2.0371,45.3438,Hotel Juba
14,Thinadhoo,MV,81.55,overcast clouds,0.5333,72.9333,
17,Puerto El Triunfo,SV,79.66,overcast clouds,13.2833,-88.5500,Hotel Jardin
21,San Ramon De La Nueva Oran,AR,71.42,overcast clouds,-23.1322,-64.3260,Hotel Residencial Centro
24,Bentiu,SS,72.90,overcast clouds,9.2333,29.8333,Mandela hôtel
25,Sangmelima,CM,67.42,heavy intensity rain,2.9333,11.9833,gamestar hotel

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [27]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Kavieng,PG,83.82,light rain,-2.5744,150.7967,Nusa Island Retreat
3,Fereydun Kenar,IR,71.47,broken clouds,36.6864,52.5225,Khezer Shahr Tourist Hotel
5,Ponta Do Sol,PT,71.71,scattered clouds,32.6667,-17.1000,Hotel do Campo
7,Saint-Philippe,RE,65.79,broken clouds,-21.3585,55.7679,Le four à pain
10,Mogadishu,SO,76.91,broken clouds,2.0371,45.3438,Hotel Juba
14,Thinadhoo,MV,81.55,overcast clouds,0.5333,72.9333,
17,Puerto El Triunfo,SV,79.66,overcast clouds,13.2833,-88.5500,Hotel Jardin
21,San Ramon De La Nueva Oran,AR,71.42,overcast clouds,-23.1322,-64.3260,Hotel Residencial Centro
24,Bentiu,SS,72.90,overcast clouds,9.2333,29.8333,Mandela hôtel
25,Sangmelima,CM,67.42,heavy intensity rain,2.9333,11.9833,gamestar hotel

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [39]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"
# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [40]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [41]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Nusa Island Retreat</dd>\n<dt>City</dt><dd>Kavieng</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>light rain and 83.82 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Khezer Shahr Tourist Hotel</dd>\n<dt>City</dt><dd>Fereydun Kenar</dd>\n<dt>Country</dt><dd>IR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 71.47 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel do Campo</dd>\n<dt>City</dt><dd>Ponta Do Sol</dd>\n<dt>Country</dt><dd>PT</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 71.71 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Le four à pain</dd>\n<dt>City</dt><dd>Saint-Philippe</dd>\n<dt>Country</dt><dd>RE</dd>\n<dt>Current Weather</dt><dd>broken clouds and 65.79 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Juba</dd>\n<dt>City</dt><dd>Mogadishu</dd>\n<dt>Country</dt><dd>SO</dd>\n<dt>Current Weather</dt><dd>broken clouds and 76.91 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Thinadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.55 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Jardin</dd>\n<dt>City</dt><dd>Puerto El Triunfo</dd>\n<dt>Country</dt><dd>SV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 79.66 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Residencial Centro</dd>\n<dt>City</dt><dd>San Ramon De La Nueva Oran</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 71.42 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mandela hôtel</dd>\n<dt>City</dt><dd>Bentiu</dd>\n<dt>Country</dt><dd>SS</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 72.9 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>gamestar hotel</dd>\n<dt>City</dt><dd>Sangmelima</dd>\n<dt>Country</dt><dd>CM</dd>\n<dt>Current Weather</dt><dd>heavy intensity rain and 67.42 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [42]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
2   -2.5744  150.7967
3   36.6864   52.5225
5   32.6667  -17.1000
7  -21.3585   55.7679
10   2.0371   45.3438
14   0.5333   72.9333
17  13.2833  -88.5500
21 -23.1322  -64.3260
24   9.2333   29.8333
25   2.9333   11.9833

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [48]:
# Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights= max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))